<div class="container">
    <div class="navbar">
        <div id="logo">
            ClubFinder
        </div>
        <div id="crest"></div>
        <div id="login">
            <a href="/admin">Member Sign in</a>
        </div>
    </div>

    <div id="background">
        {{!-- <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
            <source src="../public/images/Golfing/Golfing.webm" type="video/webm">
        </video> --}}
        {{!-- <img src="../public/images/Golfing/Golfing.jpg" alt="golf"> --}}
    </div>

    <div id="popup">
        <div id="title">Find a new community today</div>

        <div id="search">
            <div id="searchText">Looking to join a club? Enter a city or zip code below to begin searching:</div>
            <a href="/search" id='searchButton'><button>Search</button></a>
        </div>
        <div id="survey">
            <div id="surveyText">Take our survey to match you with the right Club</div>
            <a href="/survey" id = 'surveyButton'><button>Survey</button></a>
        </div>

        <div id="register">
            <a href="/register">Or register a new community today</a>
        </div>

    </div>

    <div class="footer">
        <a href="/">About ClubMatch.com</a>
        <br>
        <a href="/">Privacy Policy</a>
        <br>
        <a href="/">Terms of Use</a>
    </div>

</div>