<h1>Register a new club</h1>
<a href="/">Back</a>

<p>Create a new page for your club:</p>


<section class="insert">
    <h3>Insert Data</h3>
    <form action="/create" method="post">
        <div class="input">
            <label for="clubName">Club Name</label>
            <input type="text" id="clubName" name="clubName">
        </div>
        <div class="input">
            <label for="website">website</label>
            <input type="text" id="website" name="website">
        </div>
        <div class="input">
            <label for="description">description</label>
            <input type="text" id="description" name="description">
        </div>

        <div class="input">
            <label for="contact">contact</label>
            <input type="text" id="contact" name="contact">
        </div>
        <button type="submit">Update</button>
    </form>
</section>