
<div id="greyScreen"></div>
<div id="modal">
    
    <div id="modalHeader">Default Header</div>
    <div id="modalImage"></div>
    <div id="modalExit">Return</div>
    <div id="modalTitle">Country Club XYZ</div>
    <div id="modalDescription">Best country club in the wherever</div>
    <div id="reviewHeader">Reviews</div>
    <div id="modalReviews"></div>
</div>
<div class="navbar">
    <div id="logo">
        ClubFinder
    </div>
    <div id="crest"></div>
    <div id="login">
        <a href="/admin">Member Sign in</a>
    </div>
</div>

<img src="" alt="">
<div class="backgroundImage"></div>
<div class="container">
    <div id="title">
        Clubs in {City}
    </div>
    {{!-- <div class="search">
        <input type="text" name="search" placeholder="Search..">
    </div> --}}
    <div id="results">

    </div>


</div>