
<div id="greyScreen"></div>
<div id="modal">
    <div id="modalHeader">Header</div>
    <div id="modalExit">X</div>
    <div id="modalTitle">Country Club XYZ</div>
    <div id="modalDescription">Best country club in the south</div>
</div>
<div class="navbar">
    <div id="logo">
        ClubFinder
    </div>
    <div id="crest"></div>
    <div id="login">
        <a href="/admin">Member Sign in</a>
    </div>
</div>


<div class="backgroundImage"></div>
<div class="container">
    <div id="title">
        Clubs in {City}
    </div>
    {{!-- <div class="search">
        <input type="text" name="search" placeholder="Search..">
    </div> --}}
    <div id="results">

    </div>


</div>