body {
  min-width: 700px;
  margin: 0 0 0 0;
}

.container {
  min-width: 700px;
  margin: 0 0 0 0;
}

.navbar {
  position: relative;
  min-width: 700px;
  margin: 0 0 20px 0;
  padding: 20px 0px 0px 0px;
  height: 75px;
  background: white;
  width: 100%;
  -webkit-box-shadow: 0px 13px 27px -6px rgba(66, 63, 66, 0.77);
  -moz-box-shadow: 0px 13px 27px -6px rgba(66, 63, 66, 0.77);
  box-shadow: 0px 13px 27px -6px rgba(66, 63, 66, 0.77);
}

#logo {
  position: absolute;
  height: auto;
  width: auto;
  color: rgb(4, 4, 156);
  left: 10%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  margin-top: 10px;
}

#crest {
  position: absolute;
  height: 65px;
  width: 65px;
  left: 48%;
  background-image: url('../images/golf.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#login {
  position: absolute;
  height: auto;
  width: auto;
  left: 80%;
  margin-top: 30px;
  font-size: 18px;
}

#background {
  position: absolute;
  z-index: -100;
  margin-top: -20px;
  width: 100%;
  height: 88vh;
  background-image: url('../images/Golfing/Golfing.jpg');
  float: right;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  opacity: .70;
}

#popup {
  min-width: 350px;
  position: absolute;
  margin-top: 60px;
  height: 400px;
  width: 50%;
  background-color: white;
  left: 25%;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 78px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 78px 8px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 78px 8px rgba(0, 0, 0, 0.75);
}

#title {
  position: relative;
  display: block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  font-size: 25px;
  background-color: rgb(75, 75, 75);
  width: 100%;
  height: 40px;
  text-align: center;
  padding-top: 10px;
}

#search, #survey {
  width: 45%;
  float: left;
  /* display: inline; */
  height: 70%;
  margin: 2.5%;
  text-align: center;
}

#register {
  width: 100%;
  text-align: center;
}

.footer {
  min-width: 700px;
  position: absolute;
  text-align: center;
  padding: 20px 0 10px 0px;
  bottom: 0%;
  width: 100%;
  background-color: rgba(66, 63, 66, 0.77);
  color: white;
}

a {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */
}

a:hover {
  color: blue;
}